@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body{
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Backdrop */
body {background-color: #2c3338;}


/* Main Dashboard Box */
.container{
    z-index: 1;
    width: 70%;
    margin: 10 auto;
    border-radius: 24px;
    background: rgb(118, 87, 142);
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
}
.container2{
    z-index: 1;
    width: 30%;
    height: 80%;
    margin: 10 auto;
    border-radius: 24px;
    background: rgb(127, 76, 118);
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
}
.twitter-timeline{
    max-width:100%;
    max-height:1000%;
}
.board{
    column-count: 3;
    column-gap: 1rem;
}
.container h2{
    margin: 0 0 30px;
    text-align: center;
}

/* Info Boxes */
.card{
    width: 84%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card.a{
    background: #41a7ff;
}
.card.cr{
    background: #ff3434;
}
.card.r{
    background: #32b336;
}
.card.ca{
    background: #d83f3f;
}
.card.d{
    background: #ff0053;
}
.card.v{
    background: #f8cf17;
}
.card span{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card i{
    font-size: 3rem;
}


